/* UNIVERSAL SELECTOR ->APPLIES TO
 ALL ELEMENTS, NO INHERITANCE INVOLVED */
* {
  /* border: 1px solid red; */
}

body {
  color: #444;
  font-family: sans-serif;
}

h1, h2, h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  /* color: blue; */
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

/* descendant selector */
/* footer p {
  font-size: 16px;
  text-decoration: underline;
  color: brown;
} */

/* article header p {
  font-style: italic;
} */

/* selecting based on ID */
#author-text {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
  text-decoration: underline;
  color: brown;
}

/* Selecting based on class */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* challenge remove bullet points from
the lists in the "Related Posts" section */
aside ul li {
  list-style-type: none;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;

}

.main-header {
  background-color: #f7f7f7;
}

li:first-child {
  font-weight: bold;
  /* color: darkviolet; */
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(2) {
  color: darkblue;
} */

/* Styling links LVHA */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* Conflicting Selctors and declarations */
/*
  PRIORITY OF SELECTORS
  ! IMPORTANT -> 5
  INLINE STYLES -> 4
  ID -> 3
  CLASS -> 2
  ELEMENT -> 1
  UNIVERSAL (*) -> 0
*/

/* .author {
  font-style: italic;
  font-size: 18px;
}

#author-text {
  font-size: 20px;
} */

/* RESOLVING CONFLICT */
/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */

/* INHERITANCE */
nav {
  font-size: 18px;
}